@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;800&display=swap");

/* variables */

:root {
  --clr-primary: #1c1b20;
  --clr-secondry: #f9f9f9;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;
  --clr-font-family: "Geologica", sans-serif;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 6rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: none;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
}
h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  color: var(--clr-dark);
}

a {
  text-decoration: none;
}

body {
  font-family: "Geologica", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-color-background);
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 260px auto;
  margin: 0 auto;
}
/* aside  */

aside {
  background: #1c1b20;
  height: 100vh;
}
aside .top {
  display: grid;
  justify-items: center;

}

.profile-photo {
  display: grid;
  justify-content: space-around;
  justify-items: center;
}

.profile-photo img {
  border-radius: var(--border-radius-3);
  width: 95px;
  height: 95px;
  overflow: hidden;
}

.profile-photo h2 {
  font-size: 16px;
  color: var(--clr-secondry);
}

.profile-photo span {
  font-size: 14px;
  color: var(--clr-white);
}

aside .sidebar {
  background-color: #1c1b20;
  display: flex;
  flex-direction: column;
  height: auto;
  top: 2rem;
}

aside .sidebar h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--clr-secondry);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  height: 3rem;
  transform: 1s all ease-in;
  box-sizing: border-box;
  max-width: 190px;
}

.sidebar img {
  padding-left: 10px;
}

aside .sidebar a:last-child {
  margin-top: 80px;
  color: #241e4e;
}

aside .sidebar a.active {
  background-color: var(--clr-color-background);
  color: var(--clr-dark);
  border-radius: 20px;
  padding: 0;
}

/* aside .sidebar a:hover 
{
  background-color: var(--clr-color-background);
  border-radius: 20px;
  color: var(--clr-dark);
  
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px;
}
.header h2 {
  color: #222120;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header .icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.icons .arrow {
  cursor: pointer;
}
.menubar {
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 4px 20px 40px 0px rgba(36, 30, 78, 0.18);
  margin: auto;
}

.menubar ul {
  font-size: 14px;
}

.menubar a {
  display: inline-block;
  padding: 7px 20px 7px 20px;
  margin-right: 22px;
  color: var(--clr-primary);
  transition: 0.2s all ease-in;
}
.menubar a:hover {
  display: inline-block;
  padding: 7px 20px 7px 20px;
  margin-right: 22px;
  color: var(--clr-secondry);
  background: var(--clr-primary);
  border-radius: 40px;
  transition: 0.2s all ease-out;
}

.menubar a.active {
  color: var(--clr-secondry);
  background: var(--clr-primary);
  border-radius: 40px;
}

/* Table Section Style */

.tableview {
  width: 90%;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
  /* background-color: violet; */
}

table {
  border: none;
}

table .head-table {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  font-family: var(--clr-font-family);
}

.poirity {
  width: 22px;
  margin-left: 20px;
}

.assign {
  vertical-align: middle;
}
.active-btn {
  border-radius: 12.5px;
  opacity: 0.5;
  display: inline-block;
  width: 45px;
  text-align: center;
  background: #72d6c9;
  color: #186359;
}

.head-table td {
  padding: 20px;
}

.dataview {
  border-radius: 15px !important;
  border: 2px solid #dee6ee;
  background: rgba(255, 255, 255, 0.6);
}

tbody tr td {
  padding: 20px;
  font-size: 12px;
  font-family: var(--clr-font-family);
}

/* Media Query */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .menubar {
    width: 70%;
    padding: 20px;
   
}

.menubar a {
  padding: 5px 15px 5px 15px;
  margin-right: 32px;
  margin-top: 10px;
}
.menubar a:hover {
  margin-right: 50px;
  margin-top: 10px;
}
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 480px) {
}
